/* .loginContainer {
  width: 350px; 
  padding: 20px;
  margin: 100px auto; 
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: #f9f9f9;
}

.loginContainer h2 {
  text-align: center;
  color: #f500b4;
  font-style: italic;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  display: block;
  color: #666;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  padding: 10px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #004494;
}

.errorMessage {
  color: red;
  margin-top: 10px;
} */

.loginContainer {
  width: 1000px; 
  height: 400px;
  padding: 20px;
  margin: 100px auto; 
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: #f9f9f9;
}

.loginContainer h2 {
  margin-top: 25px;
  text-align: center;
  font-size: 30px;
  color: #f500b4;
  font-style: italic;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputGroup {
  display: flex;
}

.formGroup {
  margin-top: 50px;
  width: 450px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 65px;
}

label {
  margin-bottom: 5px;
  display: block;
  color: #666;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; 
}

.loginForm button {
  margin-top: 20px;
  width: 200px;
  background-color: #0056b3;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.errorMessage {
  color: red;
}