@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700&display=swap');

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background: #ffffff;
} */

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  background: #7e57c6;
  padding: 10px 0;  
  border-radius: 15px;  
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);  
}

.nav-links li {
  list-style: none;
  margin: 0 8px;  
}

.nav-links li a {
  position: relative;
  color: #ffffff;
  font-size: 18px;  
  font-weight: 500;
  padding: 4px 12px;  
  text-decoration: none;
}

.nav-links li a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;  
  width: 0%;
  background: #ffffff;
  border-radius: 10px;  
  transition: all 0.4s ease;
}

.nav-links li a:hover:before {
  width: 100%;
}

.nav-links li.center a:before {
  left: 50%;
  transform: translateX(-50%);
}

.nav-links li.upward a:before {
  width: 100%;
  bottom: -4px;
  opacity: 0;
}

.nav-links li.upward a:hover:before {
  bottom: 0px;
  opacity: 1;
}

.nav-links li.forward a:before {
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
}

.nav-links li.forward a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

.nav-links li.logo img {
    width: 180px;  
    height: auto;
}